@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/icomoon';
@import 'libs/slick';
*{
    font-family: 'Consolas';
    padding: 0;
    margin: 0;
}
*::before, 
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.main {
    position: relative;
    height: 100vh;
    display: flex;
    padding: 20px;
    background: #3A3C4C;
    &-wrapper {
        height: 85%;
        position: relative;
        // overflow: hidden;
    }
}
.logo {
    position: absolute;
    // left: 50px;
    // top: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    color: #dbfc22;
    font-size: 35px;
    &-1 {
        position: absolute;
        left: 12px;
        top: 12px;
        width: 50px;
        height: 50px;
        background-color: inherit;
        z-index: 1;
    }
    &-2 {
        position: absolute;
        left: 12px;
        top: 12px;
        z-index: -1;
        animation: logo-2 2s 1 4s forwards;
    }
    &-3 {
        position: absolute;
        left: 12px;
        top: 12px;
        z-index: -1;
        animation: logo-3 2s 1 4s forwards;
    }
}
.title {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    padding-right: 30px;
    &-str {
        font-size: 60px;
        text-align: center;
    }
    &-reverse {
        font-size: 60px;
        text-align: center;
        animation-name: reverse-title;
        animation-duration: 4s;
        animation-timing-function: cubic-bezier(1, 0, 0, .5);
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-delay: 3s;
        animation-fill-mode: forwards;

    }
    &-name {
        display: flex;
    }
}
.content {
    padding: 50px 0 0;
    max-width: 1000px;
    margin: 0 auto;
}
.tabs {
    margin: 0 0 50px 0;
    &-body {
        display: flex;
        height: 55vh;
    }
    &-items {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        justify-content: space-around;
        li {
            position: relative;
            padding: 4px 15px;
            margin: 0 5px;
            // height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    &-item {
        font-size: 24px;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px 5px;
        transition: .4s ease;
        z-index: 1;
        flex: 0 1 25%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #dbfc22;
        }
        &:focus {
            color: #dbfc22;
        }
    }
    &-title {
        display: flex;
    }
    &-front {
        width: 0;
        color:#99B6B0;
        overflow: hidden;
        border-right: 2px solid #dbfc22;
        white-space: nowrap;
        // display: none;
        animation: orange-carret 0.75s step-end 3s infinite,
        front-end 2s steps(20) 3s forwards;
    }
    &-type {
        width: 32ch;
        color:#99B6B0;
        overflow: hidden;
        border-right: 2px solid transparent;
        white-space: nowrap;
        animation: blink-caret 0.75s step-end 4,
        type 3s steps(32) forwards;
    }
    &-block {
        height: 100%;
        font-weight: 400;
        padding: 20px 20px 20px 40px;
        font-size: 20px;
        letter-spacing: normal;
        line-height: 24px;
        display: none;
        position: relative;
        &:target {
            display: block;
        }
        &:before {
            content: '';
            // height: 50px;
            width: 33.333%;
            position: absolute;
            top: -50px;
        }
        &:nth-child(3) {
            margin: 0 auto;
            a {
                display: block;
                margin-top: 90px;
                color: #fff;
                font-size: 70px;
                text-align: center;
                &:hover {
                    color: #232323;
                    text-decoration: none;
                }
            }
        }
        &:nth-child(4) {
            margin: 0 auto;
            color: #fff;
            font-size: 25px;
            div {
                width: 600px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 90px 100px 0;
            }
            a {
                font-size: 80px;
                &:hover {
                    opacity: .6;
                    text-decoration: none;
                }
            }
            .tabs-4thSmall {
                display: none;
            }
        }
    }
    &-text {
        color: #3A3C4C;
        animation: text 5s 1 6s forwards;
    }
    &-icon {
        display: inline-block;
        font-size: 80px;
        text-align: center;
        line-height: 150px;
        margin: 0 150px;
    } 
}

@keyframes reverse-title {
    0% {
        transform: scale(1, 1);
        color: #000;
    }
    50% {
        transform: scale(-1, 1);
        color:  #dbfc22;
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes border {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 70px;
        height: 100px;
    }
}
@keyframes font-color {
    0% {
        color: #dbfc22;
    }
    50% {
        color: #000;
    }
    100% {
        color: #dbfc22;
    }
}
@keyframes blink-caret {
    0% { 
        border-color: transparent;
    }
    50% { 
        border-color: #dbfc22; 
    }
    100% {
        border-color: transparent;
    }
}
@keyframes type {
      0% {
          width: 0;
      }
      75% {
          width: 32ch;
      }
      100% {
          width: 23ch;
      }
} 
@keyframes front-end {
    0% {
        width: 0;
    }
    100% {
        width: 20ch;
    }
}
@keyframes logo-2 {
    0% {
        left: 12px;
        top: 12px;
        z-index: -1;  
    }
    100% {
        left: -5px;
        top: 40px;
        z-index: 1;
    }
}
@keyframes logo-3 {
    0% {
        left: 12px;
        top: 12px;
        z-index: -1;
    }
    100% {
        left: 27px;
        top: 40px;
        z-index: 1;
    }
}
@keyframes orange-carret {
    0% {
        border-color: #dbfc22;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #dbfc22;
    }
}
@keyframes text {
    0% {
        color: #3A3C4C;
    }
    100% {
        color: #99B6B0;
    }
}
@import 'media';