@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/icomoon';
*{
    font-family: 'Consolas';
    padding: 0;
    margin: 0;
}
*::before, 
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.main {
    position: relative;
    min-height: 100vh;
    display: flex;
    padding: 20px;
    background: #3A3C4C;
    &-wrapper {
        height: 85%;
        position: relative;
    }
}
.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    color: #dbfc22;
    font-size: 35px;
    &-1 {
        position: absolute;
        left: 12px;
        top: 12px;
        width: 50px;
        height: 50px;
        background-color: inherit;
        z-index: 1;
    }
    &-2 {
        position: absolute;
        left: 12px;
        top: 12px;
        z-index: -1;
        animation: logo-2 2s 1 4s forwards;
    }
    &-3 {
        position: absolute;
        left: 12px;
        top: 12px;
        z-index: -1;
        animation: logo-3 2s 1 4s forwards;
    }
}
.title {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    padding-right: 30px;
    &-str {
        font-size: 60px;
        text-align: center;
    }
    &-reverse {
        font-size: 60px;
        text-align: center;
        color: #dbfc22;
        text-shadow: 
        0 0 10px #dbfc22,
        0 0 20px #dbfc22,
        0 0 25px #dbfc22,
        0 0 40px #fff,
        0 0 60px #fff,
        0 0 80px #fff;
        animation: neon 10s ease-in 3s alternate;
        animation-iteration-count: infinite;
    }
    &-name {
        display: flex;
    }
}
.content {
    padding: 40px 0 0;
    max-width: 1000px;
    margin: 0 auto;
}
.tabs {
    height: 100%;
    &-body {
        display: flex;
        height: 100%;
    }
    &-items {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        justify-content: space-around;
        li {
            position: relative;
            padding: 4px 15px;
            margin: 0 5px;
            // height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    &-item {
        font-size: 24px;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px 5px;
        transition: .4s ease;
        z-index: 1;
        flex: 0 1 25%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #dbfc22;
        }
        &:focus {
            color: #dbfc22;
        }
    }
    &-title {
        display: flex;
    }
    &-front {
        width: 0;
        color:#99B6B0;
        overflow: hidden;
        border-right: 2px solid #dbfc22;
        white-space: nowrap;
        // display: none;
        animation: orange-carret 0.75s step-end 3s infinite,
        front-end 2s steps(20) 3s forwards;
    }
    &-type {
        width: 32ch;
        color:#99B6B0;
        overflow: hidden;
        border-right: 2px solid transparent;
        white-space: nowrap;
        animation: blink-caret 0.75s step-end 4,
        type 3s steps(32) forwards;
    }
    &-block {
        height: 100%;
        font-weight: 400;
        padding: 20px 20px 20px 40px;
        font-size: 20px;
        letter-spacing: normal;
        line-height: 24px;
        display: none;
        position: relative;
        &:target {
            display: block;
        }
        &:before {
            content: '';
            width: 33.333%;
            position: absolute;
            top: -50px;
        }
        &:nth-child(3) {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 20px 20px 0;
        }
        &:nth-child(4) {
            width: 100%;
            text-align: center;
            padding: 70px 50px 20px 20px;
            a {
                display: block;
                font-size: 25px;
                line-height: 1.2;
                color: #99B6B0;
                text-decoration: none;
                &:hover {
                    color: #dbfc22;
                }
            }
        }
        &:nth-child(5) {
            margin: 0 auto;
            color: #99B6B0;
            font-size: 25px;
            div {
                width: 600px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 90px 100px 0;
            }
            a {
                font-size: 80px;
                &:hover {
                    opacity: .6;
                    text-decoration: none;
                }
            }
            .tabs-4thSmall {
                display: none;
            }
        }
    }
    &-text {
        color: #3A3C4C;
        animation: text 5s 1 6s forwards;
    }
    &-icon {
        display: inline-block;
        font-size: 80px;
        text-align: center;
        line-height: 150px;
        margin: 0 150px;
    } 
}
.carousel {
    position: relative;
    width: 900px;
    height: 380px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    &:hover {
        .slide:after,
        .counter,
        .slide:before {
            opacity: 1
        }
    }
    .slide {
        float: right;
        position: absolute;
        z-index: 1;
        width: 900px;
        height: 380px;
        background-color: #eee;
        text-align: center;
        transition: opacity 0.4s;
        opacity: 1;
        div {
            position: absolute;
            left: 40px;
            bottom: -30px;
            z-index: 10;
            a {
                font-size: 40px;
                color: #232323;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
        &:before {
            content: attr(annot);
            display: block;
            position: absolute;
            left: 20px;
            bottom: 20px;
            color: rgba(255,255,255,0.9);
            font-size: 20px;
            font-weight: 300;
            z-index: 12;
            opacity: 0;
            transition: opacity 0.3s;
            text-shadow: 0 0 1px black;
        }
        &:after {
            content: attr(slide);
            display: block;
            position: absolute;
            bottom: 0;
            transition: opacity 0.3s;
            width: 100%;
            height: 80px;
            opacity: 0;
            background-image: linear-gradient(transparent, rgba(0,0,0,0.5));
            text-align: right;
            text-indent: 549px;
            line-height: 101px;
            font-size: 13px;
            color: rgba(255,255,255,0.9);
            text-shadow: 0 0 1px black;
            padding-right: 50px;
        }
    }
    .counter {
        position: absolute;
        bottom: 20px;
        right: 1px;
        height: 20px;
        width: 60px;
        z-index: 2;
        text-align: center;
        color: #fff;
        line-height: 21px;
        font-size: 13px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    .faux-ui-facia {
        top: 0;
        right: 0;
        float: right;
        position: absolute;
        margin-top: 0;
        z-index: 9;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        &:checked {
            z-index: 8;
            + .slide {
                opacity: 0;
            }
            &:nth-child(1):checked {
                z-index: 9;
            }
        }
        &:nth-child(1):checked {
            float: left;
            z-index: 9;
            + .slide {
                opacity: 1;
            }
            ~ .faux-ui-facia {
                float: left;
                z-index: 8;
                + .slide {
                    opacity: 0;
                }
                &:checked {
                    z-index: 9;
                    + .slide {
                        opacity: 1;
                    }
                }
            }
        }
    }
}


@keyframes neon {
    0% {
        opacity: 1;
    }
    3% {
        opacity: 0;
    }
    4% {
        opacity: 1;
    }
    6% {
        opacity: 0;
    }
    7% {
        opacity: 1;
    }
    23% {
        opacity: 0;
    }
    47% {
        opacity: 0;
    }
    48% {
        opacity: 1;
    }
    57% {
        opacity: 1;
    }
    78% {
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    87% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes border {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 70px;
        height: 100px;
    }
}
@keyframes font-color {
    0% {
        color: #dbfc22;
    }
    50% {
        color: #000;
    }
    100% {
        color: #dbfc22;
    }
}
@keyframes blink-caret {
    0% { 
        border-color: transparent;
    }
    50% { 
        border-color: #dbfc22; 
    }
    100% {
        border-color: transparent;
    }
}
@keyframes type {
      0% {
          width: 0;
      }
      75% {
          width: 32ch;
      }
      100% {
          width: 23ch;
      }
} 
@keyframes front-end {
    0% {
        width: 0;
    }
    100% {
        width: 20ch;
    }
}
@keyframes logo-2 {
    0% {
        left: 12px;
        top: 12px;
        z-index: -1;  
    }
    100% {
        left: -5px;
        top: 40px;
        z-index: 1;
    }
}
@keyframes logo-3 {
    0% {
        left: 12px;
        top: 12px;
        z-index: -1;
    }
    100% {
        left: 27px;
        top: 40px;
        z-index: 1;
    }
}
@keyframes orange-carret {
    0% {
        border-color: #dbfc22;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #dbfc22;
    }
}
@keyframes text {
    0% {
        color: #3A3C4C;
    }
    100% {
        color: #99B6B0;
    }
}
@import 'media';